@font-face {
    font-family: 'parisishregular';
    src: url('parisish-webfont.eot');
    src: url('parisish-webfont.eot?#iefix') format('embedded-opentype'),
         url('parisish-webfont.woff') format('woff'),
         url('parisish-webfont.ttf') format('truetype'),
         url('parisish-webfont.svg#parisishregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size-adjust:0.49;
}

@font-face {
    font-family: 'eccentricregular';
    src: url('eccentric-webfont.eot');
    src: url('eccentric-webfont.eot?#iefix') format('embedded-opentype'),
         url('eccentric-webfont.woff') format('woff'),
         url('eccentric-webfont.ttf') format('truetype'),
         url('eccentric-webfont.svg#eccentricregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  background: url(/img/backdrop.jpg) repeat-y;
  background-size: 100%;
  font-family: parisishregular, sans-serif;
  font-size: 20px;
}

.main-container{
  max-width: 590px;
}

header h1{
  font-family: eccentricregular, serif;
  font-size: 45px;
  color: #0e122b;
  margin-top: 1em;
}

header, .where-when {
  text-align:center;
}

.main-nav{
  margin-top: 1em;
}

/* calendar */
.days-remaining{
  float:right;
  text-align: center;
  line-height: auto;
  opacity: 0.8;
}
.days-remaining strong{
  display: block;
  background: white;
  border-radius: 0 0 10px 10px;
  font-size: 80px;
  line-height: 80px;
  font-family: eccentricregular,serif;
  border: 1px solid #D4D4D4;
}
.days-remaining p{
  display: block;
  color: white;
  background: red;
  border-radius: 10px 10px 0 0;
  padding: 4px 15px;
  margin: 0;
}


/* Copied from navbar active in bootstrap */
body#map .map,
body#home .home,
body#camping .camping,
body#rsvp .rsvp
{
    background-color: #E5E5E5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}


.where-when {
    position: relative;
    padding: 0 10%;
}
.where-when:before {
    background: none repeat scroll 0 0 #272727;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    top: 43%;
    width: 10%;
}
.where-when:after {
    background: none repeat scroll 0 0 #272727;
    content: "";
    height: 2px;
    position: absolute;
    right: 0px;
    top: 43%;
    width: 10%;
}

.navbar-inner{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(200, 200, 200, 0.4));
  background-color: transparent;
  box-shadow:none;
  padding: 0;
}

.topnav {
  height: auto;
}

@media (max-width: 979px) {
  .nav-collapse .nav > li {
    float: left;
}
}

@media (max-width : 320px) {
    .nav-collapse .nav > li {
    float: none;
}
}
