---
layout: nil
is_index: true
css_id: home
---


{% include header.html %}

<div class="days-remaining" id="cal"><p><span id="units">Days</span> to go</p> <strong id="daysleft">X</strong> </div>

<h2>Ceremony</h2>
<p>Please arrive at Coombes Farm at 2:15pm for the ceremony at 3:00pm</p>
<h2>Reception</h2>
<p>The reception, also at Coombes Farm, will commence at 5pm and finish at midnight. There will be a cash bar, and bring a dish along for the buffet.</p>

<h2>Wedding List</h2>
<p>There isn't one, we already have everything we need. We're asking that people bring food along with them, and that's a present in itself</p>
<p>If you really insist on gifting us something, then additions to our Honeymoon Fund would be appreciated</p>

{% include footer.html %}
