<div class="navbar main-nav">
<div class="navbar-inner">
<div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <ul class="nav">
                    </ul>
        <div class="nav-collapse topnav">
        <ul class="nav">
            <li class="home"><a href="/">Info</a></li>
<li class="rsvp"><a href="/rsvp.html">RSVP</a></li>
            <li class="map"><a href="/map.html">Map</a></li>
            <li class="camping"><a href="/camping.html">Camping</a></li>
        </ul>
</div>
</div>
</div>
</div>
